{{- /* Tech stack chips with Devicon icons. Usage: {{< stack "Java" "Selenium" >}} */ -}}
{{- $icons := dict
  "java" "devicon-java-plain colored"
  "javaee" "devicon-java-plain colored"
  "selenium" "devicon-selenium-original colored"
  "python" "devicon-python-plain colored"
  "django" "devicon-django-plain"
  "mongodb" "devicon-mongodb-plain colored"
  "javascript" "devicon-javascript-plain colored"
  "git" "devicon-git-plain colored"
-}}
<ul class="stack">
  {{- range .Params }}
  {{- $icon := index $icons (lower (replace . " " "")) }}
  <li>{{ with $icon }}<i class="{{ . }}" aria-hidden="true"></i>{{ end }}{{ . }}</li>
  {{- end }}
</ul>
